* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    margin-inline: 4%;
    font-family: 'Kulim Park', sans-serif;

}


.header {
    margin: 2% 0 9%;
    max-width: 100%;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 2%;
}

.navigation__logo {
    margin-inline: 17.3vw 25vw;
    width: 70px;
    height: 81px;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 5vw, 50px);
    list-style: none;
}

.navigation__button {
    border-radius: 100px;
    width: clamp(40px, 50vw, 300px);
    font-size: clamp(15px, 3vw, 25px);
    font-weight: 100;
    background: transparent;
    border: 1px solid #666;
    padding: clamp(6px, 1vw, 12px) clamp(12px, 4vw, 24px);
    transition: 0.2s;
}

.navigation__button:hover {
    border-color: #BF632F;
    color: #BF632F;
    transform: scale(1.05);
}

.navigation__link {
    font-size: clamp(20px, 3vw, 25px);
    color: black;
}

.header__container {
    position: relative;
    width: 100%;
    min-height: clamp(600px, 50vw, 800px);
}

.header__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
}

.header__title {
    position: absolute;
    margin-inline: 2%;
    font-weight: 700;
    font-size: clamp(31.8px, 8vw, 130px);
    color: #fff;
}

.header__subtitle {
    position: absolute;
    top: clamp(50px, 11vw, 300px);
    right: clamp(2px, 5vw, 200px);
    font-size: clamp(15px, 2vw, 25px);
    width: clamp(50px, 35vw, 380px);
    line-height: clamp(16px, 3vw, 30px);
    color: #fff;
}

.header__button {
    position: absolute;
    top: clamp(400px, 29vw, 600px);
    margin-inline: clamp(100px, 50vw, 710px);
    color: #BF632F;
    font-size: clamp(15px, 3vw, 30px);
    border-radius: 200px;
    width: clamp(40px, 20vw, 150px);
    height: clamp(40px, 20vw, 150px);
    background: #fff;
    border: 3px solid transparent;
    transition: transform 0.2s ease-in-out;
}

.header__button::before {
    content: '';
    position: absolute;
    top: clamp(1px, 1.5vw, 12px);
    left: 50%;
    width: clamp(30px, 16vw, 120px);
    height: clamp(30px, 16vw, 120px);
    border-radius: 200px;
    transform: translateX(-50%);
    background: transparent;
    border: 10px solid #BF632F;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    z-index: -1;
}

.header__button:hover::before {
    transform: translateX(-50%) scale(1.5);
}

.header__button:active::before {
    border-color: #333F3B;
    transform: translateX(-50%) scale(1.4);
}

.header__button:focus {
    outline: none;
    box-shadow: none;
}

.main {
    width: 100%;
    margin-top: clamp(10px, 4vw, 30px);
}

.features {
    display: flex;
    margin-bottom: 70px;
}

.features__image {
    min-width: 30%;
    min-height: 40%;


}

.features__content {
    margin-inline: clamp(10px, 7vw, 200px);
    display: flex;
    flex-wrap: wrap;
}

.features__title,
.features__text {
    color: #3E3E3E;
}

.features__title {
    font-weight: 300;
    font-size: 35px;
}

.features__text {
    font-size: 25px;
    line-height: 28px;
    margin-block: 4%;
}

.features__button {
    width: 100%;
    background: #BF632F;
    color: #171717;
    font-size: 40px;
    border: none;
    border-radius: 100px;
    margin-top: 3%;
}

.features__button:hover {
    transform: scale(1.05);
    color: #BF632F;
    background-color: #FEEFC8;
}

.achievements__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 40px;
    list-style: none;
    margin-block: 7vw;
}

.achievements__title {
    font-size: 4vw;
    font-weight: 700;
}

.achievements__title,
.achievements__text {
    color: #3E3E3E;
}

.achievements__text {
    font-size: 2vw;
    font-weight: 300;
}
.work{
    display: flex;
}

.work__image-giraffe{
    margin-block: 4vw ;
    margin-left: 15vw;
}

.work__image,
.footer__image {
    max-width: 100%;
}
.work__title,
.work__text
{    text-align: center;
    color: #3E3E3E;
    margin-block: 3%;
}
.work__text{
   margin-inline: 23%;

}
.work__list{
    list-style: none;
    padding-inline: 10%;
}

.line{
    display: block;
    height: 1px;
    width: 100%;
    background-color: #3E3E3E;
    margin-block: 1vw;
   
}
.work__link{
    font-size: 1.4vw;
    text-align: left;
    color: #3E3E3E;

}
.work__item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    color: #3E3E3E;
    text-decoration: none;
    gap: 1em; 
  }
  
  .work__title{
    font-size: 3vw;
    font-weight: 600;
  }
  .footer__image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: 800px;
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
  }
  .footer__donate-content{
    position: relative;
    height: 800px;
  }
  .footer__title,
  .footer__text,
  .footer__button{
    color: #FFFFFF;
  }
  .footer__title{
    position: absolute;
    margin-inline: 8vw ;
    top: 17vw;
    font-size: 5vw;
    font-weight: 600;
  }
  .footer__text{
    position: absolute;
    top: 24vw;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 1.6vw;
    margin-inline: 16vw ;
    text-align: center;
  }
  .footer__button{
    position: absolute;
    top: 32vw;
    font-size: 1.5vw;
    margin-inline: 31.5vw ;
    border-color: #FFFFFF;
    border: 1px solid;
    background-color: transparent;
    border-radius: 20px;
    padding-inline: 1.2vw;
    font-weight: 300;

  }
  
@media (max-width: 600px) {

    .navigation {
        display: block;
        justify-content: center;
    }

    .navigation__logo {
        margin-inline: 0 clamp(10px, 16vw, 350px);
    }

    .features__image {
        display: none;
    }

    .features__title {
        font-size: 20px;
        text-align: center;
    }

    .features__text {
        font-size: 13px;
        line-height: 15px;
        text-align: center;

    }

    .features__button {
        font-size: 19px;
        border: none;
        border-radius: 100px;
        margin-top: 10%;

    }

    .achievements__list {
        display: block;
    }

    .achievements__title {
        font-size: 10vw;
    }

    .achievements__text {
        font-size: 5vw;
    }

    .achievements__item {
        margin-block: 2vw;
    }

    .work__image{
        display: none;
    }
    
    .work__title{
        font-size: 7vw;
        margin-block: 6vw;
    }
    .work__text{
        font-size: 3vw;
        margin-inline: 3vw;
        margin-block: 6vw;
    }
    .work__link{
        font-size: 3vw;
    }
    .footer__image{
        min-height: 600px;
    }
    .footer__title{
        font-size: 9vw;
        text-align: center;
        margin-inline: 5vw ;
        top: 2vw;
      }
      .footer__text{
        top: 25vw;
        font-size: 2.5vw;
        line-height: 2.7vw;
        margin-inline: 10vw ;
      }
      .footer__button{
        top: 80vw;
        font-size: 4vw;
        margin-inline: 10vw ;
        padding-inline: 1.2vw;
    
      }
      .footer__donate-content{
        position: relative;
        height: 600px;
      }
}

@media (min-width: 601px) and (max-width: 1280px) {
    .navigation {
        justify-content: center;
        gap: 0;
    }

    .navigation__logo {
        margin-inline: 100px;
    }

    .features:nth-child(1) {
        margin-bottom: 200px;
        height: 300px;
    }

    .features__image {
        min-width: 30%;


    }

    .features__title {
        font-size: 24px;
        text-align: center;
    }

    .features__text {
        font-size: 15px;
        line-height: 17px;
        text-align: center;

    }

    .features__button {
        font-size: 30px;
        line-height: 32px;
        padding-block: 1vw;

    }
    .work__image-giraffe{
        margin-left: 0;
    }
    .work__title{
        font-size: 5vw;
    }
    .work__text{
        font-size: 1.5vw;
        margin-inline: 3vw;
    }
    .work__link{
        font-size: 1.7vw;
    }
    .footer__title{
        font-size: 5.5vw;
        text-align: center;
        margin-inline: 4vw ;
        top: 3vw;
      }
      .footer__text{
        top: 10vw;
        font-size: 2.5vw;
        line-height: 2.7vw;
        margin-inline: 7vw ;
        background-color: #333f3bad;
        border-radius: 20px;
        padding-inline: 2vw;
        padding-block: 2vw;
      }

      .footer__button{
        top: 50vw;
        font-size: 4vw;
        margin-inline: 10vw ;
        padding-inline: 1.2vw;
        margin-bottom: 3vw;
    
      }

}