* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    margin-left: 4%;
    margin-right: 4%;
    height: 100%;

}

.debug-center-line {
    position: fixed;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100vh;
    background: red;
    z-index: 9999;
    pointer-events: none;
}

.header {
    margin-top: 2%;
    max-width: 100%;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 2%;
}

.navigation__logo {
   
    margin-left: clamp(10px, 17.3vw, 306px);
    margin-right: clamp(10px, 20vw, 120px);
    width: clamp(20px, 25vw, 70px);
    height: clamp(10px, 150vw, 81px);
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 5vw, 50px);
    list-style: none;
}

.navigation__button {
    margin-left: clamp(10px, 20vw, 300px);
    border-radius: 100px;
    width: clamp(40px, 50vw, 300px);
    height: auto;
    font-size: clamp(15px, 3vw, 25px);
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #666666;
    padding: clamp(6px, 1vw, 12px) clamp(12px, 4vw, 24px); /* отступы */
    transition: .2s;
}


.navigation__button:hover {
    border: 1px solid #BF632F;
    color: #BF632F;
    transform: scale(1.05)
}

.navigation__link {
    
    font-size: clamp(15px, 3vw, 25px);
    color: black;
}
.header__container{
    position: relative;
    width: 100%;
    min-height: clamp(40px, 50vw, 800px);
}
.header__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.header__title{
    position:absolute;
    width: clamp(100px, 80vw, 1300px);
    margin-inline: 2%;
    font-weight: 700;
    font-size: clamp(10px, 8vw, 130px);
    color: #FFFFFF;
}
.header__subtitle{
    position:absolute;
    top: clamp(50px, 11vw, 300px);
    right: clamp(10px,5vw, 200px);
    font-size: clamp(10px, 2vw, 25px);
    width: clamp(10px, 35vw, 380px);
    line-height: clamp(10px, 3vw, 30px);
    color: #FFFFFF;
}

.header__button{
    position: absolute;
    color: #BF632F;
    font-size: clamp(10px, 20vw, 30px);
    top: clamp(30px, 29vw, 600px);
    border-radius: 200px;
    width: clamp(20px, 15vw, 150px);
    height: clamp(20px, 15vw, 150px);
    margin-inline: clamp(100px,50vw,710px);
    border: 3px solid #00000000;
    transition: transform .2s ease-in-out;
    background-color: #FFFFFF;

}
.header__button::before{
    content: '';
    position: absolute;
    top: clamp(10px, 2vw , 12px); /* насколько купол будет выше */
    left: 50%;
    width: clamp(30px, 15vw, 120px);
    height: clamp(30px, 15vw, 120px);
    border-radius: 200px;
    transform: translateX(-50%);
    background-color: transparent;
    border: 10px solid #BF632F;
    transition:  transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    z-index: -1;
}
.header__button:hover::before{
    transform: translateX(-50%) scale(1.5);
}
.header__button:active::before{
    border-color: #333F3B;
    transform: translateX(-50%) scale(1.4);
}
.header__button:focus {
    outline: none;
    box-shadow: none;
  }
.footer__image {
    max-width: 100%;
}

.features__image {
    max-width: 100%;
}

.work__image {
    max-width: 100%;
}